
    <div class="card-block">

        <h4 class="card-title contact-title">{{contact.first_name}}</h4>
        <h4 class="card-title contact-title">{{contact.last_name}}</h4>
        <h4 class="card-title contact-title">{{contact.occupation}}</h4>
        <h4 class="card-title contact-title">{{contact.company}}</h4>
        <h4 class="card-title contact-title">{{contact.fact}}</h4>
        <h4 class="card-title contact-title">{{contact.last_contacted}}</h4>
        <h4 class="card-title contact-title">{{contact.reminder}}</h4>

    </div>

    {{#link-to 'contacts'}}
    <button>Back</button>
    {{/link-to}}
