<div class="card-block">

<h4>

{{#if contenteditable}}
{{input value=firstName class="edit-bar"}}
{{input value=lastName class="edit-bar"}}
{{input value=occupation class="edit-bar"}}
{{input value=company class="edit-bar"}}
{{input value=fact class="edit-bar"}}
{{input value=lastContacted class="edit-bar"}}
{{input value=reminder class="edit-bar"}}
<button class="btn btn-default btn-xs" {{action save}}>Save</button>
<button class="btn btn-default btn-xs" {{action cancel}}>Cancel</button>
{{else}}
<ul class="card-look">
  <a href="" {{action edit on="click"}} data-toggle="tooltip" title="Click to edit name"><span class="glyphicon glyphicon-pencil glyphicon-small"></span></a>
<li class="editable" {{action edit on="click"}}>{{firstName}}</li>
<li>{{lastName}}</li>
<li>{{occupation}}</li>
<li>{{company}}</li>
<li>{{fact}}</li>
<li>{{lastContacted}}</li>
<li>{{reminder}}</li>
</ul>
{{/if}}

</h4>

</div>






    {{#link-to 'contacts'}}
    <button>Back</button>
    {{/link-to}}
