<div class="card-block">



{{#if contenteditable}}
<div class="card">
  <div class="bio-header">
    <h2>Editing {{contact.fullName}}'s Contact Card</h2>
  </div>
  <ul>
<legend>First Name</legend>
{{input value=contact.first_name class="edit-bar"}}
<legend>Last Name</legend>
{{input value=contact.last_name class="edit-bar"}}
<legend>Occupation</legend>
{{input value=contact.occupation class="edit-bar"}}
<legend>Company</legend>
{{input value=contact.company class="edit-bar"}}
<legend>Professional Relationship</legend>
{{input value=contact.professional_relationship class="edit-bar"}}
<legend>Fun Fact</legend>
{{input value=contact.fact class="edit-bar"}}
<legend>Last Time Contacted</legend>
{{input type="date" value=contact.last_contacted class="edit-bar"}}
<legend>Reminder</legend>
{{input type="number"value=contact.reminder class="edit-bar"}}
</ul>
<div class="modal-footer">
<div class="btn-group btn-space" role="group" aria-label="...">
<button type="button" class="btn btn-danger btn-md btn-prime" {{action "save"}}>Save</button>
<button type="button" class="btn btn-default btn-md" {{action "cancel"}}>Cancel</button>
</div>
</div>
</div>
{{else}}
<div class="card">
  <div class="bio-header">
    <h2>{{contact.fullName}}'s Contact Card</h2>
  </div>
  <div class="card-img">
    <p>Image goes here</p>
  </div>
<ul class="card-look">
  <a href="" {{action "edit" on="click"}} data-toggle="tooltip" title="Click to edit contact"><span class="glyphicon glyphicon-pencil glyphicon-small"></span></a>
<legend>First Name</legend>
<li class="contact-item">{{contact.first_name}}</li>
<legend>Last Name</legend>
<li class="contact-item">{{contact.last_name}}</li>
<legend>Occupation</legend>
<li class="contact-item">{{contact.occupation}}</li>
<legend>Company</legend>
<li class="contact-item">{{contact.company}}</li>
<legend>Professional Relationship</legend>
<li class="contact-item">{{contact.professional_relationship}} </li>
<legend>Fun Fact</legend>
<li class="contact-item">{{contact.fact}}</li>
<legend>Last Time Contacted</legend>
<li class="contact-item">{{contact.last_contacted}}</li>
<legend>Reminder</legend>
<li class="contact-item">Every {{contact.reminder}} month(s)</li>
</ul>
<div class="modal-footer">
  {{#link-to 'contacts'}}
  <button type="button" class="btn btn-default btn-md">Back to Contacts</button>
  {{/link-to}}
</div>
</div>
{{/if}}



</div>
